<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= patient.birthday %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= patient.contact %>
  </p>

</div>
